


<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Kivanc Bilgin</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">My Work</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Hey, I'm Kıvanç ;)</h1>
                        <h3>A Jr Developer and just another wayfarer on life's journey</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	
   
    <!-- /.content-section-a -->
    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">

            <div class="row">
               {{#each projects}}
				 <div class="col-sm-4 col-sm-12">
    
				  <img class="img-responsive" src="{{this.img_url}}" alt="">
            <div class="row">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{this.project_name}}</h2>
                    
                    <p class="lead"><a target="_blank" href="{{this.project_url}}">{{this.project_url}}</a></p>
              </div>
             </div>
            {{/each}}

            	 </div>

        </div>
        <!-- /.container -->

    </div>
    
 <!-- /.content-section-a -->
	<a name="contact"></a>	
	<a name="about"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-3">
				<img class="img-responsive" src="img/IMG_2345.jpg">
                </div>
                <div class="col-lg-4">
                <p class="info">Jr web developer with have skills at both front-end and back-end.
                Have bachelors of business administration degree with nearly 10 years of commercial, retail and management
                experince.Currently supporting projects and doing free-lance work, open for the new opportunities.</p> 
                </div>
                <div class="col-lg-5">
                    	 
                    <ul class="list-inline banner-social-buttons">
                        <h2>Connect to Me</h2>
                        <br>
                        <li>
                            <a target="_blank" href="https://twitter.com/wayfarer59" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/wayfarer59" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/in/kivanç-bilgin-b91574a4" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name" >Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
  
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6-4 ">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Kivanc BIlgin 2017.</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   

